*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* @media screen and (max-width: 767px) {}
@media screen and (min-width: 768px) and (max-width: 1023px){}
@media screen and (min-width: 1024px) {} */

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    nav ul li a {
        padding: 10px 15px;
    }

    aside {
        width: 150px;
        padding: 10px;
    }

    aside h2 {
        font-size: 18px;
    }

    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }

    nav ul li a {
        padding: 10px;
    }

    aside {
        width: 100px;
        padding: 5px;
    }

    aside h2 {
        font-size: 16px;
    }
}

header {
    background-color: #f2f2f2;
    padding: 50px;
    padding-right: 20%;
    text-align: center;
}

header h1 {
    color: #333;
    font-size: 28px;
    margin: 5px 0;
}

img {
    width: 50%;
    height: auto;
}

aside img {
    width: 100%;
    height: auto;
}

div img {
    width: auto;
    height: auto;
}

nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding-top: 10px; 
    text-align: center;
    padding-right: 15%;
}


table {
    width: 80%;
    margin: auto;
}

tr {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr td {
    padding: 20px;
}

aside {
    position: fixed;
    top: 0px; 
    bottom: 0px;
    right: 20px;
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
}

aside h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    padding-right: 20%;
    text-align: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}